@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(./fontawesome/webfonts/fa-regular-400.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: 'MyFont2';
  src: local('MyFont2'), url(./fontawesome/webfonts/fa-brands-400.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: 'Mutante';
  src: local('Mutante'), url(./MutantYearZero/font/mutante/MUTANTE_.TTF) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: 'Monsterama';
  src: local('Monsterama'), url(./font/monsterama/monsterama.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'Brokenglass';
  src: local('Brokenglass'), url(./font/broken_glass/BrokenGlass.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.kbd-navigation .Sector:focus {
  background: #ddd;
}
.game-info {
  margin-left: 20px;
}
.Dice {
  font-family: Monsterama;
  display: inline-block;
  width:100px; 
  height: 100px;
  text-align: center;
  border: 2px solid;
  border-color: darkviolet;
  background-color:coral;
  border-radius: 1em;
  
}

.button-rolling-dice {
  background-image: url(Transverse/Dice/svg/delapouite/rolling-dice-cup.svg);
  background-repeat: no-repeat;
  background-position: center;
  min-height:30px;
}
