.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.Sector {
  border: 1px solid #999;
  float: left;
  font-size: 12px;
  font-weight: bold;
  height: 55px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 55px;
}

.sector-explored{
  backface-visibility: hidden;
}

.sector-not-explored{
  opacity: 0.8;
  background: black;
}
.sector-crossed{
  opacity: 0.5;
  background: black;
}

.Sector:focus {
  outline: none;
}

.kbd-navigation .Sector:focus {
  background: #ddd;
}

.MutantYearZero {
  background-color: darkgoldenrod;
}

.game-info {
  margin-left: 20px;
}
.Dice {
  display: inline-block;
  width:100px;
  height: 100px;
  text-align: center;
  border: 2px solid;
  border-color: darkviolet;
  background-color:coral;
  border-radius: 1em;
  
}
.DiceName{
  height: 33%;
  display: block;
  text-align: center;
}
.DiceResult{
  height: 33%;
  display: block;
  text-align: center;
}
div.critical-wounds {
  border: 2px double;
}
div.critical-wounds table tbody td{
  border: 2px solid;
}
 div.zone-render {
  background-image: url(MutantYearZero/img/myz-monceaux.png);
  background-repeat: no-repeat;
  width:1685px
 }